.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
}

.navbar--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  background: transparent;
}

.navbar h1 {
  font-size: 1.75rem;
  letter-spacing: 1px;
  font-family: var(--primaryFont);
}

.div-closebtn {
  display: flex;
  justify-content: flex-end;
}

.MuiDrawer-paper {
  background-color: transparent !important;
  box-shadow: none !important;
}

/* Responsive tweaks */
@media screen and (max-width: 768px) {
  .navbar--container {
    padding: 1rem 2rem;
  }
}
