@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
.navbar__title {
  font-size: 1.75rem;
  font-family: 'Lato', sans-serif; /* skinnier font */
  font-weight: 300; /* thin/light */
  letter-spacing: 1px;
  color: #7d6be3;
  margin: 0;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2); /* translucent */
}

.navbar--container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  width: 100%;
}

.navbar h1 {
  font-size: 1.75rem;
  letter-spacing: 1px;
  font-family: var(--primaryFont);
}

.div-closebtn {
  display: flex;
  justify-content: flex-end;
}

.MuiDrawer-paper {
  background-color: transparent !important;
  box-shadow: none !important;
}

/* Responsive tweaks */
@media screen and (max-width: 768px) {
  .navbar--container {
    padding: 1rem 2rem;
  }
}
